{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Bayukanta</title>
	<style type="text/css">
		.m1{
			margin: auto;
		}

		.container-fluid {
    		padding-top: 70px;
    		padding-bottom: 70px;
		}

		.paddikit{
			padding-bottom: 40px;
		}

		.padbanyak{
			padding-bottom: 100px;
		}

		
	</style>

</head>
<body style="font-family: Trebuchet MS;">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">Bayukanta</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item active">
	        		<a class="nav-link" href="{% url 'home' %}">Me<span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="{% url 'family' %}">Family</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="{% url 'reg' %}">Registration</a>
	      		</li>
	    	</ul>
	  	</div>
	</nav>
		

	<div class="container-fluid" style ='background-color: #F1B8C4;'>
			<div class = "row">
				<div class = "col-lg-6 text-right">
					<img src="https://files.catbox.moe/f19a7t.png" class ="rounded-circle" style="width:60%">
				</div>

				<div class = "col-lg-6 m1 text-left">
					<h1>Hello! Bayu Here</h1>
					<div>
						<p>I am Bayukanta Iqbal Gunawan</p> 
						<p>I am a student from Universitas Indonesia</p>
						<p>I like to sleep, eat, and doing nothing</p>
					</div>
					
				</div>
				
			</div>	
	</div>


	<div class="container-fluid" style ='background-color: #DBD3D3;'>
		<div class="container">
			<h2 class="text-center paddikit">What Kind of Person Am I?</h2>
			<P class="padbanyak" style="text-align: justify;">I think I am a nice person though have negligible weaknesses, have a good amount of likeable good qualities too. I am sincere and responsible. I am not a very intelligent student but sure I am dynamic as I am capable of managing and handling serious and difficult situations easily and finish all tasks well. I have a really supportive family backing me up. I like to stay simple and uncomplicated and live joyously enjoying every moment of my life. I would like to be a successful person through hard work and good efforts. I am learning to be more focused towards my goals so that I achieve them.
			</P>
			
		</div>

		<div class="container" style ='background-color: #DBD3D3;'">
			<div class="row padbanyak">
				<div class="col-lg-6 text-left">
					<h2>Education</h2>
					<p>Al-Kautsar Bandar Lampung elementary school</p>
					<p>SMPN 2 Bandar Lampung Middle School</p>
					<p>SMAN 9 Bandar Lampung Highscool</p>
					<p>Computer Science University of Indonesia</p>
					
				</div>

				<div class="col-lg-6 text-right">
					<h2>Skills</h2>
					<p>HTML/CSS</p>
					<p>Javascript</p>
					<p>Photoshop</p>
					<p>Java</p>
					<p>Python</p>

				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 text-left">
					<img src="https://files.catbox.moe/9tktl0.png" class ="rounded-circle" style="width:40%">	
				</div>

				<div class="col-lg-6 text-right">
					<h2> Contact Me? </h2>
					<p>Line : bayukantaa</p>
					<p>Twitter : @bayukantaa</p>
					<p>Instagram : @bayukantaa</p>
					<p>Facebook : Bayukanta Gunawan</p>
					
				</div>
				
			</div>


		</div>

	</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>