<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Famiglia</title>

  <style type="text/css">
    .m1{
      margin: auto;
    }

    .container-fluid{
      padding-top: 70px;
      padding-bottom: 70px;
    }
  



  </style>
</head>

<body style="font-family: Trebuchet MS;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Bayukanta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Me<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'family' %}">Family</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'reg' %}">Registration</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container-fluid text-center" style="background : #F1B8C4;">
    <h1>My Beloved Family</h1>
  </div>

  <div class="container-fluid" style="background: #DBD3D3">
    <dir class="container">
      <div class="row">
            <div class="col-lg-3 text-right">
              <img src="https://files.catbox.moe/8sao67.png" class ="rounded-circle" style="width:100%"> 
            </div>

            <div class="col-lg-9 m1 text-left">
              <h4>I am a second child of an amazing family. I have a beautiful older sister and two supportive parrents. They are the reason for me to keep on trying whenever i feel i don’t do good enough, you could even say that they are my guardian angel.</h4>       
            </div>
      </dir>
    </div>
  </div>

  <div class="container-fluid" style="background:   #F1B8C4;">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 allign-item-left">
          <img src="https://files.catbox.moe/zoa93u.png" class ="rounded-circle" style="width:50%;">
          <div class="text-justify">
            <p>This is my father</p>
            <p>He is 47 years old</p>
            <p>He love to play tennis and video games</p>
            <p>He is really scary when he is angry</p>
            <p>He love to watch sports and animal planet</p>
          </div>
        </div>
        
        <div class="col-sm-4 allign-item-center">
          <img src="https://files.catbox.moe/6j3xx7.png" class ="rounded-circle" style="width:50%;">
          <div class="text-justify">
            <p>This is my mother</p>
            <p>She is 48 years old</p>
            <p>She is also a civil servant</p>
            <p>She love to cook and playing candy crush</p>
            <p>She is usually the one who always get angry everytime i play video games too long</p>

          </div>

        </div>
        
        <div class="col-sm-4 allign-item-right"> 
          <img src="https://files.catbox.moe/fsxmub.png" class ="rounded-circle" style="width:50%;">
          <div class="text-justify">
            <p>This is my sister</p>  
            <p>She is 22 years old</p>     
            <p>She graduate from Sumatera Institute of Technology</p> 
            <p>She love photography and design</p>
          </div>

        </div>
      </div>
  </div>
    
  </div>

  

    



    






<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>