<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		
		.container-fluid{
			padding-top: 50px;
			padding-bottom: 70px;
		}


	</style>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Reg Account</title>
</head>
<body style="font-family: Trebuchet MS;">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">Bayukanta</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	    		<li class="nav-item">
	        		<a class="nav-link" href="{% url 'home' %}">Me</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="{% url 'family' %}">Family</a>
	      		</li>
	      		<li class="nav-item active">
	        		<a class="nav-link" href="{% url 'reg' %}">Registration<span class="sr-only">(current)</span></a>
	      		</li>
	    	</ul>
	  	</div>
	</nav>

	
		<form>
			<div class="container-fluid" style="background: #F1B8C4;">
				<div class="form-group">
	    			<label ">Name</label>
	    			<input type="text" class="form-control"  placeholder="Enter your name">
	  			</div>

	  			<div class="form-group">
	    			<label ">Birthdate</label>
	    			<input type="date" class="form-control">
	  			</div>

	  			<div class="form-group">
	    			<label ">Email</label>
	    			<input type="email" class="form-control" placeholder="Enter your email*">
	    			<small class="form-text text muted putih">*Your email is safe with me</small>
	  			</div>

	  			<div class="form-group">
	    			<label ">Username</label>
	    			<input type="text" class="form-control"  placeholder="Enter username">
	  			</div>

	  			<div class="form-group">
	    			<label ">Password</label>
	    			<input type="password" class="form-control"  placeholder="Enter password">
	  			</div>

	  			<div class="form-group">
	    			<label ">Confirm Password</label>
	    			<input type="password" class="form-control"  placeholder="Confirm password">
	  			</div>

	  			<div class="form-check">
    				<input type="checkbox" class="form-check-input">
    				<label class="form-check-label putih">I have agreed to be sent to gulag</label>
					</div>

	  			<div>
	  				<p>  </p>
	  				<button type="submit" class="btn btn-primary">Submit</button>
	  			</div>
	  		</div>
		</form>
		



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>